#main {
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
}

#error {
  color: red;
  height: 20px;
}

#data {
  height: 150px;
  max-width: 500px;
}

button {
  width: 100px;
}

#canvas {
  width: 500px;
  height: 500px;
}

#info {
  margin: 0 50px;  
}

#info h3 {
  margin-top: 0;
}